body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-weight: bold;
}

.masterheader {
    background-color: #1F2937;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-top: 20px;
}

.headerleft, .headerright {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.headerright {
    margin-left: auto;
}

.navbar {
    text-decoration: none;
}

.headerbox img {
    width: 600px;
    height: 300px;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 40px;
}

.headerbox {
    display: flex;
    color: white;
    background-color: #1F2937;
    flex-direction: row-reverse;
    padding: 50px;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;

}

.banner {
    font-size: 48px;
    font-weight: bold; 
}

button {
    border-radius: 12px;
    background-color: #3882F6;
    color: white;
    width: 30%;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.intro { 
    margin-bottom: 15px;
}

.image_container img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
}

.image_container {
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 52px;
}

.secondtitle {
    font-size: 36px;
    font-weight: bold;s
    color: black;
    margin-bottom: 32px;
}

.body2 {
    text-align: center;
    background-color: white;
    margin-top: 50px;
}



