body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: inherit;
}

.logo {
    font-weight: bold;
}

.masterheader {
    background-color: #1F2937;
    padding-bottom: 50px;
}

.header {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 24px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 50px;
    padding-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
}

.headerleft, .headerright {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.headerright {
    margin-left: auto;
}

.navbar {
    text-decoration: none;
}

.headerbox img {
    width: 600px;
    height: 300px;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 40px;
}

.headerbox {
    display: flex;
    color: white;
    background-color: #1F2937;
    flex-direction: row-reverse;
    padding: 50px;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    margin-left: 300px;
    margin-right: 300px;
}

.banner {
    font-size: 48px;
    font-weight: bold; 
}

button {
    border-radius: 12px;
    background-color: #3882F6;
    color: white;
    width: 30%;
    border: none;
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
}

.intro { 
    margin-bottom: 15px;
}

.image_container img {
    width: 200px;
    height: 200px;
    border-radius: 15px;
    border: 5px solid #3882F6;
}

.image_container {
    display: flex;
    justify-content: center;
    background-color: white;
    gap: 52px;
}

.secondtitle {
    font-size: 36px;
    font-weight: bold;
    color: black;
    margin-bottom: 32px;
}

.body2 {
    text-align: center;
    background-color: white;
    margin-top: 50px;
}

.body3 {
    background-color: #E5E7EB;
    margin-top: 50px;
}

p {
    position: relative; 
    text-align: center;
    padding: 1rem 1.2rem;
    width: 70%;
    margin: 1rem auto 2rem;
    color: #484748;
}


.quotebox {
    color:#1F2937;
    font-size: 26px;
    font-style: italic;
    line-height: 1.25em;
    font-weight: 100;
    background: #E5E7EB;
    padding: 60px;
    position: relative;
    padding-top: 100px;
}

.author {
    font-size: 75%; 
    text-align: right;
    top: 50%;
}

.body4 {
    background: white;
    display: flex;
    justify-content: center;
}

.headerbox2 {
    background: #3882F6;
    color: white;
    width: 1500px;
    height: 100px;
    padding: 25px;
    padding-top:40px;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.finaltitle {
    font-weight: bold;
    font-size: 34px;
}

.text {
    font-size: 24px;
}

.button {
    background-color: #3882F6;
    color: white;
    border: 2px solid white;
    width: 150px;
    margin-top: 20px;
}

.left, .right {
    display: inline-block;
    margin-right: 100px;
}

.footer {
    background-color: #1F2937;
    padding-top: 50px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}